* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 30;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18;
}
p {
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 50px 5px 10px;
    font-size: 18px;
}
.viewScore{
    text-decoration: none;
    color: purple;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
header h1{
    margin-bottom: 20px;
}
header p{
    text-align: center;
    max-width: 600px;
    font-size: 18px;
}
.startButton{
    font-size: 24px;
    padding: 5px 5px 5px 5px;
    margin-top: 30px;
    border: solid purple;
    border-radius: 10px;
    color: white;
    background-color: purple;
}
header button:hover, #questionCards button:hover, .submitButton:hover, .goBackButton:hover, .clearButton:hover{
    opacity: .7;
}
#questionCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#questionCards li{
    margin-left: 10px;
    list-style-type: none;
}
#questionCards li button{
    font-size: 18px;
    margin-top: 5px;
    padding: 3px 3px 3px 3px;
    border: solid purple;
    border-radius: 5px;
    color: white;
    background-color: purple;
}
.hidden{
    display: none;
}
.answerHidden{
    display: none;
}
.answerDisplay{
    color: lightgray;
    padding-top: 5px;
    font-size: 22px;
    font-style: italic;
    margin-top: 10px;
    border-top: 3px solid lightgray;
}
.allDone{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.allDoneH2{
    align-items: flex-start;
}
.inputField{
    display: flex;
}
.initialsLabel{
    margin-right: 10px;
}
.allDoneDivAlign, .highScoresDiv2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}
.submitButton, .clearButton{
    margin-left: 5px;
    padding: 0px 3px 0px 3px;
    border: solid purple;
    border-radius: 3px;
    color: white;
    background-color: purple;
}
.highScoresDiv1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.present{
    background-color: #CBC3E3;
    margin-top: 10px;
    padding: 3px 3px 3px 3px;
    height: 20px;
}
.highScoresDivH2{
    align-items: flex-start;
    width: 400px;
}
.goBackButton{
    margin-top: 10px;
    padding: 0px 3px 0px 3px;
    border: solid purple;
    border-radius: 3px;
    color: white;
    background-color: purple;
}